*
    box-sizing: border-box
html
    color: $White
    font-family:
    font-size: 16px
    font-family: 'Bebas Neue', cursive
    font-family: 'Roboto', sans-serif
ul, li
    padding: 0
    margin: 0
    list-style: none
a
    color: inherit
    text-decoration: none
    cursor: pointer
.wrapper
    max-width: 1310px
    margin: 0 auto
    padding: 0 15px
